In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    {
     'identifier': ['crai', 'crai'],
     'dataset_name': ['HadCRUT5', 'HadCRUT4'],
     ':dataset_name': ['cool', 'hot'],
     '_file': [
         'https://www.metoffice.gov.uk/hadobs/hadcrut5/data/current/non-infilled/HadCRUT.5.0.1.0.anomalies.ensemble_mean.nc', 
         'https://www.metoffice.gov.uk/hadobs/hadcrut4/data/current/gridded_fields/HadCRUT.4.6.0.0.median_netcdf.zip',
     ],
     '_variable_name': ['tas_mean', 'temperature_anomaly']
    })
df

,identifier,dataset_name,:dataset_name,_file,_variable_name
0,crai,HadCRUT5,cool,https://www.metoffice.gov.uk/hadobs/hadcrut5/d...,tas_mean
1,crai,HadCRUT4,hot,https://www.metoffice.gov.uk/hadobs/hadcrut4/d...,temperature_anomaly

In [3]:
df.to_csv("../phoenix/search/index/duck.csv", index=False)

In [4]:
res = df.loc[df.identifier=="crai"]
list(res.dataset_name)

['HadCRUT5', 'HadCRUT4']

In [5]:
res = df.loc[
    (df.identifier=="crai")
    & (df.dataset_name=="HadCRUT5")]
res

,identifier,dataset_name,file,variable_name
0,crai,HadCRUT5,https://www.metoffice.gov.uk/hadobs/hadcrut5/d...,tas_mean

In [6]:
list(res.variable_name)

['tas_mean']

In [7]:
list(res["file"])

['https://www.metoffice.gov.uk/hadobs/hadcrut5/data/current/non-infilled/HadCRUT.5.0.1.0.anomalies.ensemble_mean.nc']